
<!DOCTYPE html>

{%  extends "index.html"%}
{% block content %}
<html>
    <head>
        
        <title>Chat Box</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    </head>
    <body>
    <div class="chat-box">
        <div class="chat-box-header">{{ name }}</div>
        <div class="chat-box-body">
            {% for message in messages %}
            <!-- <div class="text-message"></div> -->
                <div class="chat-bubble {% if message.by == 'sender' %}sent{% else %}received{% endif %}">
                    {{ message.message }}
                </div>
            <!-- </div> -->
            {% endfor %}
        </div>
        <div class="chat-box-footer">
            <input type="text" value="{{ newMessage }}" placeholder="Type your message..." />
            <button><i class="fa fa-send"></i></button>
        </div>
    </div>
    <script>
        // Add JavaScript code here to handle sending new messages.
    </script>
</body>
</html>
{% endblock %}
