<!DOCTYPE html>
{%  extends "index.html"%}
{% block content %}
<html>
<head>
    <title>Chats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chats.css') }}">
</head>
<body>
    <div class="container">
        <div class="groups-container">
            {% for chat in chats %}
            <div class="group-box">
                <center><div class="group-title">Title: {{ chat.other }}</div></center>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
{% endblock %}
