
<!DOCTYPE html>

{%  extends "index.html"%}
{% block content %}
<html>
    <head>
        
        <title>Chat Box</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    </head>
    <body>
        <h2>{{ name }}</h2>
        {% for message in messages %}
        <div class="chat-box-body">
            {% if message[1] == name %}
                <div class="chat-bubble-received">
                    <p>{{ message[0] }}</p>

                </div>
                {% else %}
                <div class="chat-bubble-send">
                    <p>{{ message[0] }}</p>
                </div>
                {% endif %}
        </div>
            {% endfor %}
            <form class="chat-box-footer" method = "POST">
                <input type="text" name="newMessage" id="newMessage" placeholder="Type your message..." ></input>
                <button type = "submit"><i class="fa fa-send"> SEND</i></button>
            </form>
</body>
</html>
{% endblock %}
