
<!DOCTYPE html>

{%  extends "index.html"%}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Groups</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/groups.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="groups-container">
        {% for group in groups %}
          <div class="group-box">
            <center><div class="group-title">Title: {{ group[0] }}</div></center>
            <center><div class="group-content">Type: {{ group[1] }}</div></center>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

{% endblock %}
