<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello HTML Templates</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/group.css') }}">
    
    </head>
    <div className="container">
        <div className="groups-container">
            {% block content %}
            
            {%end block%}
            {groups.map(group => {
                return (
                    <div className="group-box" key={group.id}>
                        <center><div className="group-title">Title: {group.title}</div></center>
                        <center><div className="group-content">Type: {group.Type}</div></center>
                    </div>
                )
            })}
        </div>
    </div>
</html>