<!DOCTYPE html>
<html>
  <head>
    <title>Post Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_upload.css') }}">

  </head>
  <body>
    <div class = "post-container">
    <h2>Post Upload</h2>
    <form method="POST" enctype="multipart/form-data">
      <label for="file">Image:</label>
      <input type="file" name="file" id="file">
      <label for="caption">Caption:</label>
      <input type = "text" name="caption" id="caption"></input>
      <input type="submit" value="Upload" >
    </form>
    </div>
  </body>
</html>