{% extends 'index.html' %}
{% block content %}
  <head>
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <script>
      function redirect(user) {
        var url = "{{ url_for('FriendsProfile', kerberosid='__kerberosid__') }}".replace('__kerberosid__', user);
        window.location.href = url;
      }
    </script>
  </head>
  
  <h1 ><center>Users</center></h1>
<center>

    {% for user in users %}
    <div class="search" onclick="redirect('{{ user[0] }}')">
        <p>ID: {{ user[0] }}</p>
        <p>Name: {{ user[1] }}</p>
    </div>
    {% endfor %}
</center>
{% endblock %}
